@use '../../styles/mixins'as *;

.page-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  margin-top: auto;

  .page-footer {
    @include content-max-width;
    text-align: center;

    .link {
      font-weight: 430;
      font-size: 14px;
      color: var(--primary-text-color);
      margin-right: 20px;
    }

    a {
      color: #a7a7a7;
    }
  }
}